@font-face {
  font-family: 'Circe';
  src: url(/fonts/Circe-Regular.woff2) format('woff2'), url(/fonts/Circe-Regular.ttf) format('truetype');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Circe';
  src: url(/fonts/Circe-Bold.woff2) format('woff2'), url(/fonts/Circe-Bold.ttf) format('truetype');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

