/* fonts */
$text-font: 'Circe', sans-serif;
/* color fonts */
$primary-txt: #121211;
$secondary-txt: #F8F6F1;
$accent-txt: #95824A;
/* background-color */
$background-main:  #F8F6F1;
$background-secondary:#1E1E1E;
$background-hover-color: #95824A;
$background-pressed-color: #77683B;
