/* fonts */
$text-font: 'Circe', sans-serif;
/* color fonts */
$primary-txt: #121211;
$secondary-txt: #f8f6f1;
$accent-txt: #95824a;
$pressed-txt: #77683b;
/* background-color */
$background-main: #f8f6f1;
$background-secondary: #1e1e1e;
$background-hover-color: #95824a;
$background-pressed-color: #77683b;

$cubic: cubic-bezier(0.4, 0, 0.2, 1);
