<section class="about section" id="about">
  <div class="container">
    <h2 class="about__title title">Про нас</h2>
    <div class="about__wrapper">
      <picture class="about__picture">
        <source
          srcset="images/about/about_sm.webp 1x, images/about/about_sm@2x.webp 2x"
          media="(min-width: 320px)"
          type="image/webp"
        />
        <source
          srcset="images/about/about_sm.jpg 1x, images/about/about_sm@2x.jpg 2x"
          media="(min-width: 320px)"
          type="image/jpg"
        />
        <source
          srcset="images/about/about_lg.webp 1x, images/about/about_lg@2x.webp 2x"
          media="(min-width: 1440px)"
          type="image/webp"
        />
        <source
          srcset="images/about/about_lg.jpg 1x, images/about/about_lg@2x.jpg 2x"
          media="(min-width: 1440px)"
          type="image/jpg"
        />
        <img
          src="/images/about/about_sm.jpg"
          srcset="/images/about/about_sm@2x.jpg"
          alt="Картинка товару"
          class="about__img"
          width="360"
          height="400"
        />
      </picture>
      <div class="about__info-wrapper">
        <div class="about__info">
          <h2 class="about__subtitle">Команда HiCare</h2>
          <p class="about__txt">
            Надаємо індивідуальний підхід до кожного клієнта та партнера. Гарантуємо якість наших
            продуктів та надаємо докладну інформацію про склад та властивості кожного з них.
          </p>
        </div>
        <div class="about__info">
          <h2 class="about__subtitle">Наша мета</h2>
          <p class="about__txt">
            Допомогти людям зберегти красу та здоров'я, використовуючи натуральні засоби. Зробити
            натуральну та ефективну продукцію — доступною.
          </p>
        </div>
        <div class="about__info">
          <h2 class="about__subtitle">Наша місія</h2>
          <p class="about__txt">
            Прагнемо створити світ, де краса та здоров'я не протистоять природі, а існують у
            гармонії з нею.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
