<section class="about section">
    <div class="container">
        <img src="" alt="Картинка товару" class="about__img">
        <h2 class="about__title">Про нас</h2>
        <div class="about__info">
            <h2 class="about__subtitle">Чому HiCare?</h2>
            <p class="about__txt">Кожна людина унікальна та має свої особливості, тому ми надаємо індивідуальний підхід
                до кожного клієнта та партнера.
                Ми гарантуємо якість наших продуктів та надаємо докладну інформацію про склад та властивості кожного з
                них.</p>
        </div>
        <div class="about__info">
            <h2 class="about__subtitle">Наша мета.</h2>
            <p class="about__txt">Допомогти людям зберегти красу та здоров'я, використовуючи натуральні засоби, які не
                мають шкідливого впливу на організм
                та навколишнє середовище. Ми віримо, що кожна людина має право на якісний та безпечний догляд за собою,
                тому ми прагнемо
                зробити натуральну та ефективну продукцію доступною для всіх.</p>
        </div>
        <div class="about__info">
            <h2 class="about__subtitle">Наша місія.</h2>
            <p class="about__txt">Ми прагнемо створити світ, де краса та здоров'я не протистоять природі, а існують у
                гармонії з нею.</p>
        </div>
    </div>
</section>