<section class="feedback section" id="feedback">
    <div class="container">
        <h2 class="feedback__title title">Відгуки клієнтів</h2>
        <ul class="feedback__list">
            <li class="feedback__item">
                <img src="/images/feedback/1.jpg" alt="">
            </li>
            <li class="feedback__item">
                <img src="/images/feedback/2.jpg" alt="">
            </li></li>
            <li class="feedback__item">
                <img src="/images/feedback/3.jpg" alt="">
            </li>
        </ul>
    </div>
</section>