<section class="feedback section" id="feedback">
    <div class="container">
        <h2 class="feedback__title title">Відгуки клієнтів</h2>
        <ul class="feedback__list">
            <li class="feedback__item">
                <picture>
                    <source srcset="/images/feedback/feedback-1.jpg" media="(min-width: 320px)" />
                    <source srcset="/images/feedback/feedback-1.webp" media="(min-width: 320px)" type="image/webp" />
                    <img src="/images/feedback/feedback-1.jpg" alt="Відгук клієнта" width="320" height="320"/>
                </picture>
            </li>
            <li class="feedback__item">
                <picture>
                    <source srcset="/images/feedback/feedback-2.jpg" media="(min-width: 320px)" />
                    <source srcset="/images/feedback/feedback-2.webp" media="(min-width: 320px)" sizes="" type="image/webp" />
                    <img src="/images/feedback/feedback-2.jpg" alt="Відгук клієнта" width="320" height="320"/>
                </picture>
            </li></li>
            <li class="feedback__item">
                <picture>
                    <source srcset="/images/feedback/feedback-3.jpg" media="(min-width: 320px)" />
                    <source srcset="/images/feedback/feedback-3.webp" media="(min-width: 320px)" sizes="" type="image/webp" />
                    <img src="/images/feedback/feedback-3.jpg" alt="Відгук клієнта" width="320" height="320"/>
                </picture>
            </li>
        </ul>
    </div>
</section>