<footer class="footer">
    <div class="container footer__container">
        <a class="footer__logo" href="#hero">HiCare</a>
        <nav class="nav__footer">
            <ul class="footer__list">
                <li class="footer__item">
                    <a href="#about" class="footer__link">Про нас</a>
                </li>
                <li class="footer__item">
                    <a href="#products" class="footer__link">Каталог</a>
                </li>
                <li class="footer__item">
                    <a href="#feedback" class="footer__link">Відгуки</a>
                </li>
                <li class="footer__item">
                    <a href="#partnership" class="footer__link">Партнерам</a>
                </li>
            </ul>
        </nav>
        <div class="footer__contacts">
            <ul class="footer__contacts-list">
                <li class="footer__contacts-item">
                    <p class="footer__contacts-txt">Телефон:</p>
                    <a href="tel:+380506916763" class="footer__contacts-link">+380506916763</a>
                </li>
                <li class="footer__contacts-item">
                    <p class="footer__contacts-txt">Email:</p>
                    <a href="mailto:hicare.order@gmail.com" class="footer__contacts-link">hicare.order@gmail.com</a>
                </li>
            </ul>
        </div>
        <div class="social-footer">
            <ul class="social-footer__list">
                <li class="social-footer__item">
                    <a href="https://www.instagram.com/hicare.ua/" class="social-footer__link" aria-label="Instagram">
                        <img class='social__footer-icon' src="./images/icons/inst.svg" alt="" width="30" height="30">
                        <!-- <svg class="solials-footer__icons" width="30" height="30">
                                <use href="./images/social_icons/inst.svg"></use>
                            </svg> -->
                    </a>
                </li>
                                <li class="social-footer__item">
                                    <a href="https://t.me/hicare_ua" class="social-footer__link" aria-label="Telegram">
                                        <img class='social__footer-icon'src="./images/icons/telegram.svg" alt="" width="30" height="30">
                                        <!-- <svg class="solial-footer__icons" width="30" height="30">
                                                                <use href="./images/social_icons/facebook.svg"></use>
                                                            </svg> -->
                                    </a>
                                </li>

            </ul>
            <p class="footer__txt">
                Політика конфіденційності
            </p>
        </div>
    </div>
</footer>