<header class="header">
    <div class="container header__container">
        <a href="" class="header__logo">HiCare</a>
        <nav class="nav">
            <ul class="nav__list">
                <li class="nav__item">
                    <a href="#about" class="nav__link">Про нас</a>
                </li>
                <li class="nav__item">
                    <a href="#products" class="nav__link">Каталог</a>
                </li>
                <li class="nav__item">
                    <a href="#feedback" class="nav__link">Відгуки</a>
                </li>
                <li class="nav__item">
                    <a href="#partnership" class="nav__link">Партнерам</a>
                </li>
            </ul>
        </nav>
        <a href="https://t.me/hicare_ua" class="header__link">Залишити відгук</a>
        <button class="header__menu-btn" width="40" height="22">
            <img src="./images/icons/burger-menu.svg" alt=""width="40" height="22" >
        </button>
    </div>
</header>