<header class="header">
    <div class="container header__container">
        <a href="" class="header__logo">HiCare</a>
        <nav class="nav">
            <ul class="nav__list">
                <li class="nav__item">
                    <a href="#about" class="nav__link">Про нас</a>
                </li>
                <li class="nav__item">
                    <a href="#products" class="nav__link">Каталог</a>
                </li>
                <li class="nav__item">
                    <a href="#feedback" class="nav__link">Відгуки</a>
                </li>
                <li class="nav__item">
                    <a href="#partnership" class="nav__link">Партнерам</a>
                </li>
            </ul>
        </nav>
        <a href="https://t.me/hicare_ua" class="header__link">Залишити відгук</a>
        <button class="mobile__menu-open" width="40" height="22" data-menu-button aria-label="Кнопка открытия меню">
            <img src="./images/icons/burger-menu.svg" alt=""width="40" height="22" >

        </button>
    </div>

    <div class="mobile-menu" data-header-menu>
        <div class="mobile__container">
        <a href="" class="header__logo-mobile">HiCare</a>
        <button type="button" class="mobile__menu-close" data-menu-close width="25" height="25" >
            <img  src="./images/icons/btn-menu-close.svg" width="25" height="25" />

        </button>
        </div>
            

        <nav class="mobile-nav">
            <ul class="mobile-nav__list">
                <li class="mobile-nav__item">
                    <a class="mobile-nav__link " data-menu href="#about">Про нас</a>
                </li>
                <li class="mobile-nav__item">
                    <a class="mobile-nav__link " data-menu href="#products">Каталог</a>
                </li>
                <li class="mobile-nav__item">
                    <a class="mobile-nav__link" data-menu href="#feedback">Відгуки</a>
                </li>
                <li class="mobile-nav__item">
                    <a class="mobile-nav__link"  data-menu href="#partnership">Партнерам</a>
                </li>
            </ul>
        </nav>
                    <a href="#products" class="mobile__link">До каталогу</a>

        
    </div>
</header>