<header class="header-contract">
  <div class="container header__container">
    <a href="./index.html" class="header__logo logo-contract">HiCare</a>
    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__item">
          <a href="./index.html#about" class="nav__link">Про нас</a>
        </li>
        <li class="nav__item">
          <a href="./index.html#products" class="nav__link">Каталог</a>
        </li>
        <li class="nav__item">
          <a href="./index.html#feedback" class="nav__link">Відгуки</a>
        </li>
        <li class="nav__item">
          <a href="./index.html#partnership" class="nav__link">Партнерам</a>
        </li>
      </ul>
    </nav>
    <a href="https://t.me/hicare_ua" class="header__link">Залишити відгук</a>

    <div class="hamb__field" id="hamb">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>
  </div>

  <div class="mobile-menu" data-header-menu>
    <div class="mobile__container">
      <a href="" class="header__logo-mobile">HiCare</a>
    </div>

    <nav class="mobile-nav">
      <ul class="mobile-nav__list">
        <li class="mobile-nav__item">
          <a class="mobile-nav__link" data-menu href="./index.html#about">Про нас</a>
        </li>
        <li class="mobile-nav__item">
          <a class="mobile-nav__link" data-menu href="./index.html#products">Каталог</a>
        </li>
        <li class="mobile-nav__item">
          <a class="mobile-nav__link" data-menu href="./index.html#feedback">Відгуки</a>
        </li>
        <li class="mobile-nav__item">
          <a class="mobile-nav__link" data-menu href="./index.html#partnership">Партнерам</a>
        </li>
      </ul>
    </nav>
    <a href="./index.html#products" class="mobile__link">До каталогу</a>
  </div>
</header>
