<header class="header">
    <div class="container header__container">
        <a href="" class="header__logo">HiCare</a>
        <nav class="nav">
            <ul class="nav__list">
                <li class="nav__item">
                    <a href="" class="nav__link">Про нас</a>
                </li>
                <li class="nav__item">
                    <a href="" class="nav__link">Каталог</a>
                </li>
                <li class="nav__item">
                    <a href="" class="nav__link">Відгуки</a>
                </li>
                <li class="nav__item">
                    <a href="" class="nav__link">Партнерам</a>
                </li>
            </ul>
        </nav>
        <a href="" class="header__link">Залишити відгук</a>
    </div>
</header>