    <div class="modal js-modal" data-modal="3">
                <div class="modal-info__container ">

        <button class="modal__btn js-modal-close" type="button">
            <img class='modal__icon' src="./images/icons/btn-close.svg" alt="" width="20" height="20" />
        </button>
        <div class="modal__wrapper">
            <picture>
                <source srcset="images/modals/modal-3_lg.webp 1x,
         images/modals/modal-3_lg@2x.webp 2x" media="(min-width: 1160px)" type="image/webp" />
                <source srcset="images/modals/modal-3_lg.jpg 1x, 
    images/modals/modal-3_lg@2x.jpg 2x" media="(min-width: 1160px)" type="image/jpg" />
                <img src="/images/modals/modal-3_lg.jpg" alt="Скраб для шкіри голови HiCare
" class="modals__img" width="370"
                    height="466" />
            </picture>
            <div class="modal__wrapper-info">
                <h2 class="modal__subtitle">Скраб для шкіри голови HiCare
</h2>
                <p class="modal__price">290 грн</p>
                <p class="modal__txt"><span class="modal__txt-span">Склад:</span> сіль морська, гліцерин, лауретсульфат натрію, кокамід ДЕА, ізопропілміристат, скраб абрикосової кісточки, феноксіетанол,
                етілгексілгліцерин, лимонна кислота, віддушка.


                </p>
                <p class="modal__txt"><span class="modal__txt-span">Об’єм:</span>400 г.</p>

            </div>
        </div>
        <p class="modal__txt"><span class="modal__txt-span">Опис товару:</span>Для найкращого догляду за шкірою голови ми використовуємо тільки натуральні інгредієнти. Наш скраб для шкіри голови
        містить морську сіль та абрикосову кісточку — ідеальний дует для ефективної очистки та живлення шкіри.

        </p>
        <p class="modal__txt">&#129474; Морська сіль, що входить до складу, має потужну властивість очищення, здатну видалити накопичені забруднення та
        шкірний жир, які збираються на поверхні шкіри голови.
</p>
        <p class="modal__txt">&#127825; Абрикосова кісточка — це натуральний ексфоліант, що допомагає видалити відмерлі клітини з поверхні шкіри, сприяє
        регенерації та підтримці здоров'я шкіри голови.
</p>
        <p class="modal__txt">Наш скраб безпечний для використання та дозволяє досягти максимальних результатів. Він ідеально підходить для будь-якого
        типу волосся, незалежно від його стану та текстури.
</p>

    <p class="modal__txt">Ми рекомендуємо використовувати скраб регулярно, щоб забезпечити комплексний догляд за шкірою та зберегти здоров'я та
    красу волосся. Переконайтеся, що ви отримуєте найкращий догляд за шкірою голови, замовивши наш скраб з морською сіллю та
    абрикосовою кісточкою прямо зараз.
</p>

        <p class="modal__txt">Ефекти від використання:

        </p>
        <ul class="modal__list-dots">
            <li class="modal__item-dots">Усуває лупу, або попереджує її виникнення.


            </li>
            <li class="modal__item-dots">Збільшує об’єм.


            </li>
            <li class="modal__item-dots">Дарує відчуття чистоти та свіжості.

            </li>
        </ul>
                </div>

</div>