    <div class="modal js-modal" data-modal="4">
                <div class="modal-info__container ">

<div class="modal__cross active js-modal-close">
    <span class="modal__line"></span>
    <span class="modal__line"></span>
    <span class="modal__line"></span>
</div>        <div class="modal__wrapper">
            <picture class="modal__picture">
                <source srcset="images/modals/modal-4_lg.webp 1x,
         images/modals/modal-4_lg@2x.webp 2x" media="(min-width: 1160px)" type="image/webp" />
                <source srcset="images/modals/modal-4_lg.jpg 1x, 
    images/modals/modal-4_lg@2x.jpg 2x" media="(min-width: 1160px)" type="image/jpg" />
                <img src="/images/modals/modal-4_lg.jpg" alt="Пінка для вмивання HiCare
" class="modals__img" width="370" height="466" />
            </picture>
            <div class="modal__wrapper-info">
                <div class="modal__wrapper-logo">
                    <h2 class="modal__subtitle">Пінка для вмивання</h2>
                    <p class="modal__logoname">HiCare</p>
                </div>
                <p class="modal__price">195 грн</p>
                <div class="modal__wrapper-txt">
                <p class="modal__txt"><span class="modal__txt-span">Склад:</span> вода підготовлена, лауретсульфосукцінат динатрію, кокамідопропілбетаїн, кокоглюкозід, гель алое вера, екстракт ромашки,
                феноксіетанол, етілгексілгліцерин, віддушка.


                </p>
                <p class="modal__txt"><span class="modal__txt-span">Об’єм:</span>150 мл.</p>
        <p class="modal__txt"><span class="modal__txt-span">Опис товару:</span> Пінка для вмивання з алое вера та екстрактом
            ромашки від бренду HiСare.<br>
            
        
        </p>
        <p class="modal__txt">
            Цей продукт — ідеальне поєднання ефективності та натуральних інгредієнтів, які забезпечують дбайливий догляд за
            вашою
            шкірою.
        
        </p>

            </div>
            </div>
        </div>
        <ul class="modal__list-dots">
            <li class="modal__item-dots">Очищення: пінка забезпечує м'яке та ефективне очищення обличчя від забруднень, пилу та макіяжу, не пересушуючи шкіру.



            </li>
            <li class="modal__item-dots">Зволоження: алое вера забезпечує належний рівень зволоженості шкіри. Екстракт ромашки має протизапальні властивості, які
            допомагають зменшити почервоніння та роздратування шкіри.



            </li>
            <li class="modal__item-dots">Антиоксиданти: екстракт ромашки містить антиоксиданти, які захищають шкіру від шкідливого впливу зовнішніх факторів,
            таких як вільні радикали.


            </li>
        </ul>
<p class="modal__txt">Спосіб застосування: рівномірно розподіліть пінку легкими масажними рухами та змийте теплою водою. Після вмивання не
слід розтирати шкіру рушником, достатньо просто промокнути надлишки вологи.</p>
</div>
    </div>
