<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button class="modal__btn" type="button" data-modal-close>
      <img class='modal__icon'src="./images/icons/btn-close.svg" alt="" width="20" height="20" />
    </button>
    <div class="modal__wrapper">
    <picture>
      <source
        srcset="images/modals/modal-1_lg.webp 1x,
         images/modals/modal-1_lg@2x.webp 2x"
        media="(min-width: 1160px)"
        type="image/webp"
      />
      <source
        srcset="images/modals/modal-1_lg.jpg 1x, 
    images/modals/modal-1_lg@2x.jpg 2x"
        media="(min-width: 1160px)"
        type="image/jpg"
      />
      <img
        src="/images/modals/modal-1_lg.jpg"
        alt="Шампунь зміцнюючий HiCare"
        class="modals__img"
        width="370"
        height="466"
      />
    </picture>
    <div class="modal__wrapper-info">
    <h2 class="modal__subtitle">Шампунь зміцнюючий HiCare</h2>
    <p class="modal__price">205 грн</p>
    <p class="modal__txt"><span class="modal__txt-span">Склад:</span> вода підготовлена, лаурет сульфосукцінат динатрію,
        кокамідопропілбетаїн, кокамід ДЕА, натрію хлорид,
        стірол/акрилатний кополімер, гліцерин, гідролізат протеїнів пивних дріжжей, екстракт червоних водоростей, гідролізат
        протеїнів шовку, гідролізат протеїнів пшениці, кераміди рослинні, вітаміни В6, Е, РР, Полікватерніум-7, кислота
        нікотинова, лимонна кислота, етілендіамінтетраацетат динатрію, метілхлорізотіазолінон, метілізотіазолінон, віддушка.
    </p>
    <p class="modal__txt"><span class="modal__txt-span">Об’єм:</span>275 мл.</p>

    </div>
</div>
<p class="modal__txt"><span class="modal__txt-span">Опис товару:</span>Шампунь для зміцнення та відновлення росту волосся. <br>Містить кілька корисних компонентів:</p>
<ol class="modal__list-numbers">
  <li class="modal__item-numbers">Екстракт пивних дріжджів містить багато вітамінів групи B, білки та амінокислоти, які допомагають зміцнити волосся та
  підтримувати здоров'я шкіри голови.</li>
  <li class="modal__item-numbers">Екстракт червоних водоростей містить вітаміни та мінерали, каротиноїди та антиоксиданти, які захищають волосся від
  пошкоджень.
</li>
<li class="modal__item-numbers">
  Гідролізати протеїнів шовку та пшениці містять амінокислоти, які підвищують еластичність волосся та зменшують його
  ламкість.

</li>
<li class="modal__item-numbers">Вітаміни B6, Е, РР насичують волосяні фолікули та захищають волосся від пошкоджень.
</li>
</ol>

<p class="modal__txt">Усі ці натуральні компоненти працюють комплексно, щоб зберегти здоров'я вашого волосся та шкіри голови.
</p>
<p class="modal__txt">Ефекти від використання:</p>
  <ul class="modal__list-dots">
    <li class="modal__item-dots">зменшення ламкості;
</li>
  <li class="modal__item-dots">покращення еластичності;
</li>
  <li class="modal__item-dots">відновлення росту волосся.
</li>
</ul>


  </div>
</div>
