    <div class="modal js-modal" data-modal="2">
        <div class="modal-info__container ">
        <div class="modal__cross active js-modal-close" >
            <span class="modal__line"></span>
            <span class="modal__line"></span>
            <span class="modal__line"></span>
        </div>
        <div class="modal__wrapper">
            <picture class="modal__picture">
                <source srcset="images/modals/modal-2_lg.webp 1x,
         images/modals/modal-2_lg@2x.webp 2x" media="(min-width: 1160px)" type="image/webp" />
                <source srcset="images/modals/modal-2_lg.jpg 1x, 
    images/modals/modal-2_lg@2x.jpg 2x" media="(min-width: 1160px)" type="image/jpg" />
                <img src="/images/modals/modal-2_sm.jpg" alt="Маска для волосся HiCare" class="modals__img" width="280"
        height="376" />
            </picture>
            <div class="modal__wrapper-info">
                <div class="modal__wrapper-logo">
                    <h2 class="modal__subtitle">Маска для волосся</h2>
                    <p class="modal__logoname">HiCare</p>
                </div>
                                <p class="modal__price">185 грн</p>
                <p class="modal__txt"><span class="modal__txt-span">Склад:</span> вода підготовлена, цетилстеариловий спирт, цетеарет-20, олія крамбе, цетрімоніум хлорид, бегетрімоніум хлорид, гліцерин,
                гідролізат протеїнів пивних дріжжей, екстракт червоних водоростей, гідролізат протеїнів шовку, гідролізат протеїнів
                пшениці, кераміди рослинні, вітаміни В6, Е, РР, молочна кислота, феноксіетанол, етілгексілгліцерин, віддушка.

                </p>
                <p class="modal__txt"><span class="modal__txt-span">Об’єм:</span>250 мл.</p>

            </div>
        </div>
        <p class="modal__txt"><span class="modal__txt-span">Опис товару:</span> Маска для волосся з олією крамбе, гідролізатом протеїнів шовку та пшениці.
        Крамбе (абіссінська гірчиця) — це рослина, яка містить в собі високу концентрацію ліпідів та олій, які допомагають
        зберегти вологу в кінчиках волосся та роблять його більш м'яким та еластичним.<br>
        Гідролізат протеїнів шовку та пшениці насичує волосся амінокислотами, які відновлюють його структуру та регенерують
        пошкодження.
</p>
        

        <p class="modal__txt">Рекомендації при застосуванні:
</p>
        <ul class="modal__list-dots">
            <li class="modal__item-dots">Для того, щоб усі компоненти показали приголомшливий ефект, волосся по всій довжині повинне бути чистим, позбавленим від
            шкірного жиру, слідів косметики, бруду та пилу.

            </li>
            <li class="modal__item-dots">Для очищення волосся застосуйте шампунь чи скраб.

            </li>
            <li class="modal__item-dots">Невелику кількість маски візьміть у долоню і нанесіть на вологе, але не мокре волосся, а потім розподіліть пальцями, щоб
            продукт потрапив на всі пасма.

            </li>
            <li class="modal__item-dots">Для покращення ефекту використайте поліетиленову шапочку для душу, яка створює закриту зону та сприяє ретельному
            проникненню компонентів маски у глибину волосся.
</li>
            <li class="modal__item-dots">Залиште на 10-15 хвилин і змийте водою.
</li>
            <li class="modal__item-dots">Готово, насолоджуйтесь красою та здоров’ям вашого волосся.
</li>
        </ul>
</div>

    </div>

