<div class="modal js-modal" data-modal="1">
  <div class="modal-info__container">
    <div class="modal__cross active js-modal-close">
      <span class="modal__line"></span>
      <span class="modal__line"></span>
      <span class="modal__line"></span>
    </div>
    <div class="modal__wrapper">
      <div class="modal__main-info">
        <picture class="modal__picture">
          <source
            srcset="images/modals/modal-1_lg.webp 1x, images/modals/modal-1_lg@2x.webp 2x"
            media="(min-width: 1160px)"
            type="image/webp"
          />
          <source
            srcset="images/modals/modal-1_lg.jpg 1x, images/modals/modal-1_lg@2x.jpg 2x"
            media="(min-width: 1160px)"
            type="image/jpg"
          />
          <source
            srcset="images/modals/modal-1_sm.webp 1x, images/modals/modal-1_sm@2x.webp 2x"
            media="(min-width: 320px)"
            type="image/webp"
          />
          <source
            srcset="images/modals/modal-1_sm.jpg 1x, images/modals/modal-1_sm@2x.jpg 2x"
            media="(min-width: 320px)"
            type="image/jpg"
          />
          <img
            src="/images/modals/modal-1_sm.jpg"
            alt="Шампунь зміцнюючий HiCare"
            class="modals__img"
            width="280"
            height="376"
          />
        </picture>
      </div>
      <div class="modal__wrapper-info">
        <div class="modal__wrapper-exc">
          <h2 class="modal__subtitle">Шампунь зміцнюючий</h2>
          <p class="modal__logoname">HiCare</p>
        </div>
        <p class="modal__price">205 грн</p>
        <p class="modal__txt">
          <span class="modal__txt-span">Склад:</span> вода підготовлена, лаурет сульфосукцінат
          динатрію, кокамідопропілбетаїн, кокамід ДЕА, натрію хлорид, стірол/акрилатний кополімер,
          гліцерин, гідролізат протеїнів пивних дріжжей, екстракт червоних водоростей, гідролізат
          протеїнів шовку, гідролізат протеїнів пшениці, кераміди рослинні, вітаміни В6, Е, РР,
          Полікватерніум-7, кислота нікотинова, лимонна кислота, етілендіамінтетраацетат динатрію,
          метілхлорізотіазолінон, метілізотіазолінон, віддушка.
        </p>
        <p class="modal__txt"><span class="modal__txt-span">Об’єм:</span>275 мл.</p>
      </div>
    </div>
    <p class="modal__txt">
      <span class="modal__txt-span">Опис товару:</span> Шампунь для зміцнення та відновлення росту
      волосся.
    </p>
    <p class="modal__txt">
      Містить кілька корисних компонентів: <br />1. Екстракт пивних дріжджів містить багато
      вітамінів групи B, білки та амінокислоти, які допомагають зміцнити волосся та підтримувати
      здоров'я шкіри голови. <br />
      2.Екстракт червоних водоростей містить вітаміни та мінерали, каротиноїди та антиоксиданти, які
      захищають волосся від пошкоджень. <br />
      3. Гідролізати протеїнів шовку та пшениці містять амінокислоти, які підвищують еластичність
      волосся та зменшують його ламкість. <br />4. Вітаміни B6, Е, РР насичують волосяні фолікули та
      захищають волосся від пошкоджень.
    </p>
    <p class="modal__txt">
      Усі ці натуральні компоненти працюють комплексно, щоб зберегти здоров'я вашого волосся та
      шкіри голови.
    </p>
    <p class="modal__txt">Ефекти від використання:</p>
    <ul class="modal__list-dots">
      <li class="modal__item-dots">зменшення ламкості;</li>
      <li class="modal__item-dots">покращення еластичності;</li>
      <li class="modal__item-dots">відновлення росту волосся.</li>
    </ul>
  </div>
</div>
