<section class="orders section">
    <div class="container">
        <h2 class="orders__title">Замовити зараз</h2>
        <h3 class="orders__subtitle">Закохались у наш продукт?</h3>
        <p class="orders__txt">Для замовлення напишіть в телеграм або вайбер або зателефонуйте за номером
            <a href="tel:+380506916763" class="contacts__item-link">+380506916763</a>
            Або залиште свої контакти. Наш менеджер зв'яжеться з вами, оформе замовлення та надішле реквізити для
            оплати. Приймаємо
            оплату тільки на розрахунковий рахунок ФОП.
            Ми працюємо над онлайн-оплатою і скоро така опція з'явиться на сайті.
        </p>
    </div>
</section>