<section class="partnership section">
    <div class="container">
        <div class="partnership__wrapper">
            <h2 class="partnership__title">
                Партнерство
            </h2>
            <form class="partnership__form" action="" method="post">
                <input type="text" name="name" placeholder="Ім’я та прізвище" required>
                <input type="text" name="city" placeholder="Місто" required>
                <input type="number" name="number" id="" placeholder="Номер телефону" required>
                <input type="email" name="email" id="" placeholder="Email" required>
                <select name="Дані про ваш магазин" required="required">
                    <option disabled="disabled" selected="selected">Дані про ваш магазин</option>
                    <option>Інстаграм</option>
                    <option>Свій сайт</option>
                    <option>Prom</option>
                    <option>Фізичний магазин</option>
                    <option>Інше</option>
                </select>
                <button class="form__btn" type="submit">Відправити</button>
            </form>
            <h3 class="partnership__subtitle">Ми відкриті до співпраці з інтернет-магазинами, інста-шопами, фізичними
                магазинами, концепт-сторами, шоу-румами.</h3>
            <p class="partnership__txt">Ми розуміємо, що співпраця має бути взаємовигідною. Своїм партнерам надаємо
                маркетингову підтримку, лояльні умови
                та консультації. Ми завжди відкриті до співпраці та колаборації. Щоб отримати оптовий прайс, надішліть
                запит. Перші 100
                партнерів отримають додаткові бонуси.</p>
            <div class="partnership__contacts">
                <ul class="contacts__list">
                    <li class="contacts__item">
                        <p class="contacts__item-txt">Телефон:</p>
                        <a href="tel:+380506916763" class="contacts__item-link">+380506916763</a>
                    </li>
                    <li class="contacts__item">
                        <p class="contacts__item-txt">Email:</p>
                        <a href="mailto:hicare.order@gmail.com" class="contacts__item-link">hicare.order@gmail.com</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>