<section class="partnership section" id="partnership">
    <div class="container">
            <h2 class="partnership__title title">
                Партнерство
            </h2>
                    <div class="partnership__wrapper">

            <form class="partnership__form" id="my-form" action="https://formspree.io/f/xrgvonoj" method="POST" >
                <input name="subject" type="hidden" value="Нова заявка на партнерство" />
                <input class="partnership__input _req" type="text" name="ПІБ" placeholder="Ім’я та прізвище" >
                <input class="partnership__input" type="text" name="Місто" placeholder="Місто" >
                <input class="partnership__input" type="number" name="Номер телефону" id="" placeholder="Номер телефону" >
                <input class="partnership__input _req _email" type="email" name="Email" id="" placeholder="Email" >
                <select class="js-choice" name="Дані про магазин"  >
                    <option value="">Дані про ваш магазин</option>
                    <option value="Інстаграм">Інстаграм</option>
                    <option value="Свій сайт">Свій сайт</option>
                    <option value="Prom">Prom</option>
                    <option value="Фізичний магазин">Фізичний магазин</option>
                    <option value="Інше">Інше</option>
                </select>
                <button class="form__btn" type="submit" id="my-form-button">Відправити</button>
                <p class='form__status 'id="my-form-status"></p>
            </form>
            <div class="partnership__info">
            <h3 class="partnership__subtitle">Ми відкриті до співпраці з інтернет-магазинами, інста-шопами, фізичними
                магазинами, концепт-сторами, шоу-румами.</h3>
            <p class="partnership__txt">Ми розуміємо, що співпраця має бути взаємовигідною. Своїм партнерам надаємо
                маркетингову підтримку, лояльні умови
                та консультації. Ми завжди відкриті до співпраці та колаборації. <br> Щоб отримати оптовий прайс, надішліть
                запит. Перші 100
                партнерів отримають додаткові бонуси.</p>
            <div class="partnership__contacts">
                <ul class="contacts__list">
                    <li class="contacts__item">
                        <p class="contacts__item-txt">Телефон: </p>
                        <a href="tel:+380506916763" class="contacts__item-link">+380506916763</a>
                    </li>
                    <li class="contacts__item">
                        <p class="contacts__item-txt">Email: </p>
                        <a href="mailto:hicare.order@gmail.com" class="contacts__item-link">hicare.order@gmail.com</a>
                    </li>
                </ul>
            </div>
            </div>
        </div>
    </div>
</section>