<section class="products section" id="products">
  <div class="container">
    <h2 class="products__title title">Наші товари</h2>
    <ul class="products__list">
      <li class="products__item">
        <picture>
          <source
            srcset="images/products/products-1_lg.webp 1x, images/products/products-1_lg@2x.webp 2x"
            media="(min-width: 1160px)"
            type="image/webp"
          />
          <source
            srcset="images/products/products-1_lg.jpg 1x, images/products/products-1_lg@2x.jpg 2x"
            media="(min-width: 1160px)"
            type="image/jpg"
          />
          <img
            src="/images/products/products-1_lg.jpg"
            alt="Шампунь зміцнюючий HiCare"
            class="products__img"
            width="260"
            height="350"
          />
        </picture>
        <h3 class="item__title">Шампунь зміцнюючий HiCare</h3>
        <p class="item__price">205 грн</p>
        <button class="item__btn" data-modal-open>Детальніше</button>
      </li>
      <li class="products__item">
        <picture>
          <source
            srcset="images/products/products-2_lg.webp 1x, images/products/products-2_lg@2x.webp 2x"
            media="(min-width: 1160px)"
            type="image/webp"
          />
          <source
            srcset="images/products/products-2_lg.jpg 2x, images/products/products-2_lg@2x.jpg 2x"
            media="(min-width: 1160px)"
            type="image/jpg"
          />
          <img
            src="/images/products/products-2_lg.jpg"
            alt="Маска для волосся HiCare"
            class="products__img"
            width="260"
            height="350"
          />
        </picture>
        <h3 class="item__title">Маска для волосся HiCare</h3>
        <p class="item__price">185 грн</p>
        <button class="item__btn">Детальніше</button>
      </li>
      <li class="products__item">
        <picture>
          <source
            srcset="images/products/products-3_lg.webp 1x, images/products/products-3_lg@2x.webp 2x"
            media="(min-width: 1160px)"
            type="image/webp"
          />
          <source
            srcset="images/products/products-3_lg.jpg 1x, images/products/products-3_lg@2x.jpg 2x"
            media="(min-width: 1160px)"
            type="image/jpg"
          />
          <img
            src="/images/products/products-3_lg.jpg"
            alt="Скраб для шкіри голови HiCare"
            class="products__img"
            width="260"
            height="350"
          />
        </picture>
        <h3 class="item__title">Скраб для шкіри голови HiCare</h3>
        <p class="item__price">290 грн</p>
        <button class="item__btn">Детальніше</button>
      </li>
      <li class="products__item">
        <picture>
          <source
            srcset="images/products/products-4_lg.webp 1x, images/products/products-4_lg@2x.webp 2x"
            media="(min-width: 1160px)"
            type="image/webp"
          />
          <source
            srcset="images/products/products-4_lg.jpg 1x, images/products/products-4_lg@2x.jpg 2x"
            media="(min-width: 1160px)"
            type="image/jpg"
          />
          <img
            src="/images/products/products-4_lg.jpg"
            alt="Пінка для вмивання HiCare"
            class="products__img"
            width="260"
            height="350"
          />
        </picture>
        <h3 class="item__title">Пінка для вмивання HiCare</h3>
        <p class="item__price">195 грн</p>
        <button class="item__btn">Детальніше</button>
      </li>
    </ul>
  </div>
</section>
