<section class="products section" id="products">
  <div class="container">
    <h2 class="products__title title">Наші товари</h2>
    <ul class="products__list">
      <li class="products__item">
        <picture>
          <source
            srcset="images/products/products-1_lg.webp 1x, images/products/products-1_lg@2x.webp 2x"
            media="(min-width: 1440px)"
            type="image/webp"
          />
          <source
            srcset="images/products/products-1_lg.jpg 1x, images/products/products-1_lg@2x.jpg 2x"
            media="(min-width: 1440px)"
          />
          <img
            src="/images/products/products-1_lg.jpg"
            alt="Шампунь зміцнюючий HiCare"
            class="products__img"
            width="260"
            height="350"
          />
        </picture>
        <div class="item__wrapper-info">
          <h3 class="item__title">Шампунь зміцнюючий</h3>
          <p class="item__logoname">HiCare</p>
        </div>
        <p class="item__price">205 грн</p>
        <button class="item__btn js-open-modal" data-modal="1">Детальніше</button>
      </li>
      <li class="products__item">
        <picture>
          <source
            srcset="images/products/products-2_lg.webp 1x, images/products/products-2_lg@2x.webp 2x"
            media="(min-width: 1440px)"
            type="image/webp"
          />
          <source
            srcset="images/products/products-2_lg.jpg 1x, images/products/products-2_lg@2x.jpg 2x"
            media="(min-width: 1440px)"
          />
          <img
            src="/images/products/products-2_lg.jpg"
            alt="Маска для волосся HiCare"
            class="products__img"
            width="260"
            height="350"
          />
        </picture>
        <div class="item__wrapper-info">
          <h3 class="item__title">Маска для волосся</h3>
          <p class="item__logoname">HiCare</p>
        </div>

        <p class="item__price">185 грн</p>
        <button class="item__btn js-open-modal" data-modal="2">Детальніше</button>
      </li>
      <li class="products__item">
        <picture>
          <source
            srcset="images/products/products-3_lg.webp 1x, images/products/products-3_lg@2x.webp 2x"
            media="(min-width: 1440px)"
            type="image/webp"
          />
          <source
            srcset="images/products/products-3_lg.jpg 1x, images/products/products-3_lg@2x.jpg 2x"
            media="(min-width: 1440px)"
            type="image/jpg"
          />
          <img
            src="/images/products/products-3_lg.jpg"
            alt="Скраб для шкіри голови HiCare"
            class="products__img"
            width="260"
            height="350"
          />
        </picture>
        <div class="item__wrapper-info">
          <h3 class="item__title">Скраб для шкіри голови</h3>
          <p class="item__logoname">HiCare</p>
        </div>

        <p class="item__price">290 грн</p>
        <button class="item__btn js-open-modal" data-modal="3">Детальніше</button>
      </li>
      <li class="products__item">
        <picture>
          <source
            srcset="images/products/products-4_lg.webp 1x, images/products/products-4_lg@2x.webp 2x"
            media="(min-width: 1440px)"
            type="image/webp"
          />
          <source
            srcset="images/products/products-4_lg.jpg 1x, images/products/products-4_lg@2x.jpg 2x"
            media="(min-width: 1440px)"
            type="image/jpg"
          />
          <img
            src="/images/products/products-4_lg.jpg"
            alt="Пінка для вмивання HiCare"
            class="products__img"
            width="260"
            height="350"
          />
        </picture>
        <div class="item__wrapper-info">
          <h3 class="item__title">Пінка для вмивання</h3>
          <p class="item__logoname">HiCare</p>
        </div>
        <p class="item__price">195 грн</p>
        <button class="item__btn js-open-modal" data-modal="4">Детальніше</button>
      </li>
    </ul>
  </div>

  <!-- //Swiper// -->

  <div class="container swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide customer-item">
        <picture>
          <source srcset="images/products/products-1_sm.webp 1x,
           images/products/products-1_sm@2x.webp 2x"
            media="(min-width: 320px)" type="image/webp" />
          <source srcset="images/products/products-1_sm.jpg 1x, 
          images/products/products-1_sm@2x.jpg 2x"
            media="(min-width: 320px)"  />
          <img src="/images/products/products-1_sm.jpg" alt="Шампунь зміцнюючий HiCare " class="products__img" width="320"
            height="360" />
        </picture>
        <div class="item__wrapper-info">
          <h3 class="item__title">Шампунь зміцнюючий</h3>
          <p class="item__logoname">HiCare</p>
        </div>
        <p class="item__price">205 грн</p>
        <button class="item__btn js-open-modal" data-modal="1">Детальніше</button>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="images/products/products-2_sm.webp 1x,
                   images/products/products-2_sm@2x.webp 2x" media="(min-width: 320px)" type="image/webp" />
          <source srcset="images/products/products-2_sm.jpg 1x, 
                  images/products/products-2_sm@2x.jpg 2x" media="(min-width: 320px)" />
          <img src="/images/products/products-2_sm.jpg" alt="Маска для волосся HiCare " class="products__img" width="320"
            height="360" />
        </picture>
        <div class="item__wrapper-info">
          <h3 class="item__title">Маска для волосся</h3>
          <p class="item__logoname">HiCare</p>
        </div>
        <p class="item__price">185 грн</p>
        <button class="item__btn js-open-modal" data-modal="2">Детальніше</button>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="images/products/products-3_sm.webp 1x,
                           images/products/products-3_sm@2x.webp 2x" media="(min-width: 320px)" type="image/webp" />
          <source srcset="images/products/products-3_sm.jpg 1x, 
                          images/products/products-3_sm@2x.jpg 2x" media="(min-width: 320px)" />
          <img src="/images/products/products-3_sm.jpg" alt="Скраб для шкіри голови HiCare " class="products__img" width="320"
            height="360" />
        </picture>
        <div class="item__wrapper-info">
          <h3 class="item__title">Скраб для шкіри голови</h3>
          <p class="item__logoname">HiCare</p>
        </div>
        <p class="item__price">290 грн</p>
        <button class="item__btn js-open-modal" data-modal="3">Детальніше</button>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="images/products/products-4_sm.webp 1x,
                                   images/products/products-4_sm@2x.webp 2x" media="(min-width: 320px)" type="image/webp" />
          <source srcset="images/products/products-4_sm.jpg 1x, 
                                  images/products/products-4_sm@2x.jpg 2x" media="(min-width: 320px)" />
          <img src="/images/products/products-4_sm.jpg" alt="Пінка для вмиванняHiCare " class="products__img" width="320"
            height="360" />
        </picture>
        <div class="item__wrapper-info">
          <h3 class="item__title">Пінка для вмивання</h3>
          <p class="item__logoname">HiCare</p>
        </div>
        <p class="item__price">195 грн</p>
        <button class="item__btn js-open-modal" data-modal="4">Детальніше</button>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
  <div class="overlay backdrop__is-hidden js-overlay-modal" id="overlay-modal"></div>
</section>
