<section class="products section">
    <div class="container">
        <h2 class="products__title">Наші товари</h2>
        <ul class="products__list">
            <li class="products__item">
                <img src="" alt="Шампунь зміцнюючий HiCare" class="products__img">
                <h3 class="item__title">Шампунь зміцнюючий HiCare</h3>
                <p class="item__price">205 грн</p>
                <button class="item__info">Детальніше</button>
            </li>
            <li class="products__item">
                <img src="" alt="Маска для волосся HiCare" class="products__img">
                <h3 class="item__title">Маска для волосся HiCare</h3>
                <p class="item__price">185 грн</p>
                <button class="item__info">Детальніше</button>
            </li>
            <li class="products__item">
                <img src="" alt="Скраб для шкіри голови HiCare" class="products__img">
                <h3 class="item__title">Скраб для шкіри голови HiCare</h3>
                <p class="item__price">290 грн</p>
                <button class="item__info">Детальніше</button>
            </li>
            <li class="products__item">
                <img src="" alt="Пінка для вмивання HiCare" class="products__img">
                <h3 class="item__title">Пінка для вмивання HiCare</h3>
                <p class="item__price">195 грн</p>
                <button class="item__info">Детальніше</button>
            </li>
        </ul>
    </div>
</section>