<section class="usage section">
    <div class="container">
                <div class="usage__wrapper">
<div class="usage__info-wrapper">
        <h2 class="usage__title title">Як користуватись?</h2>
            <p class="usage__txt">Як доглядати волосся, щоб воно завжди виглядало, як після салону краси?</p>
            </div>
            <video class="usage__video" width="400" height="" controls>
                <source src="/video/video.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
    </div>
</section>