<section class="usage section">
    <div class="container">
                <div class="usage__wrapper">
<div class="usage__info-wrapper">
        <h2 class="usage__title title">Як користуватись?</h2>
            <p class="usage__txt">Як доглядати волосся, щоб воно завжди виглядало, як після салону краси?</p>
            <p class="usage__txt">Відео від наших партнерів, інстаграм-магазину косметики my_dream.shop_</p>

            </div>
            <div class="usage__video-wrapper">
            <video class="usage__video" width="400"  controls poster="/images/postervideo.jpg">
                <source src="/video/video.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            </div>
        </div>
    </div>
</section>