<section class="usage section">
    <div class="container">
        <h2 class="usage__title title">Як користуватись?</h2>
        <div class="usage__wrapper">
            <p class="usage__txt">Як доглядати волосся, щоб воно завжди виглядало, як після салону краси?</p>
            <video class="usage__video" width="580" height="720" controls>
                <source src="/video/video.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
    </div>
</section>