.footer {
    margin-top: 100px;
    background-color: $background-secondary;
    @include mq(desktop){
    margin-top: 180px;
    }
}
.footer__container{
    padding-top: 60px;
        padding-bottom: 60px;
    @include mq(desktop) {
    padding-top: 40px;
        padding-bottom: 40px;        }
}

.footer__logo{
    font-weight: 400;
        font-size: 20px;
        line-height: 1.45;
 
        color:$secondary-txt;

        
        text-align: center;
        display: block;

}

.nav__footer{
    margin-top: 40px;
    margin-bottom: 30px;
    @include mq(desktop) {
            margin-top: 30px;
            margin-bottom: 0
        }


}
.footer__list{
    display: flex;
    flex-direction: column;
    align-items: center;
    @include mq(desktop) {
        flex-direction: row;
    justify-content: center;     
  }

}
.footer__item:not(:last-child) {
        margin-bottom: 20px;
    @include mq(desktop) {
margin-right: 50px;   
margin-bottom: 0;     }
}
.footer__link{
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;

        color:$secondary-txt;
}

.footer__contacts{
    margin-bottom: 20px;
    @include mq(desktop) {
                margin-top: 20px;
                margin-bottom: 0;
        }

}
.footer__contacts-list{
    display: flex;
    flex-direction: column;
        align-items: center;
    
        @include mq(desktop) {
            flex-direction: row;
        }
}
.footer__contacts-item:not(:last-child){
    margin-bottom: 20px;
    @include mq(desktop) {
    margin-right: 50px;   
margin-bottom: 0;     }
}

.footer__contacts-txt{
    font-weight: 700;
        font-size: 16px;
        line-height: 1.5;
        color: $accent-txt;
                text-align: center;
                
        @include mq(desktop) {
        text-align: left;            }
}

.footer__contacts-link{
font-weight: 400;
    font-size: 16px;
    line-height: 1.5;

    color:$secondary-txt;
}

.social-footer{
    display: flex;
    flex-direction: column;
        align-items: center;
        @include mq(desktop) {
            flex-direction: row;
    justify-content: space-between;
        margin-top: 20px;            }
    
}
.social-footer__list{
    display: flex;
    margin-bottom: 40px;
    @include mq (desktop) {
    margin-bottom: 0;        }
}
.social-footer__item:not(:last-child){
margin-right: 20px;
}
.social__footer-icon{
width: 40px;
height: 40px;
 @include mq (desktop){
    width: 30px;
    height: 30px;
 }
}
.footer__txt{
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        color:$secondary-txt;
        opacity: 0.8;
}

