.header {
    position: absolute;
    width: 100%;
    z-index: 10;
    display: flex;
   padding-top: 22px;
      padding-bottom: 23px;

    @include mq (desktop){
        padding-top: 25px;
        padding-bottom: 25px;
    }
}

 .header__container{
    display: flex;
   width: 100%;
    @include mq (desktop){
   align-items: center;
    }
 }

 .header__logo {

   font-weight: 400;
      font-size: 24px;
      line-height: 1.45;
      color: $secondary-txt;

   @include mq(desktop){
font-weight: 400;
   font-size: 30px;
   line-height: 1.46;
   

   margin-right: 274px;
   }
    
 }

 .nav {
   display: none;
   @include mq(desktop){
   display: flex;
      margin-right: 165px;
   }
 }

 .nav__list{
    display: flex;
 }

 .nav__item:not(:last-child){
    margin-right: 40px;
 }

 .nav__link {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.45;
    color: $secondary-txt;
 }

 .header__link {
   display: none;

   @include mq(desktop) {
display: block;
    font-weight: 400;
    font-size: 22px;
    line-height: 1.45;
    color: $secondary-txt;
    padding: 9px 20px;
    border: 1px solid #F8F6F1;

    margin-left: auto;
   }
 }

 .header__menu-btn{
   display: flex;
      margin-left: auto;
      padding: 0;
      outline: none;
      align-items: center;
   @include mq (desktop){
   display: none;
   }
 }