.hero__overlay{
    margin-left: auto;
        margin-right: auto;
        background-size: cover;
        background-repeat: no-repeat;
        max-width: 1440px;
        // background-image: url(../images/hero/hero_lg.png);
        padding-top: 800px;

        @include mq(desktop) {
                max-width: 1440px;
                margin-left: auto;
                margin-right: auto;
                background-position: center;
                background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
                    url(../images/hero/hero_lg.png);
                background-image:
                    linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
                    -webkit-image-set(url(../images/hero/hero_lg.webp) 1x);
        
        
                @include mq(retina) {
                    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
                        url(../images/hero/hero_lg@2x.png);
                    background-image:
                    linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
                        -webkit-image-set(url(../images/hero/hero_lg.png) 2x);
                }
            }
}
// .hero__img {
//     position: x;
//     width: 1440px;
//     height: 800px;
//     margin-left: auto;
//     margin-right: auto;
// }

.hero__wrapper-txt{
    position: absolute;
    top: 310px;
    left: 0;
    display: flex;
    flex-direction: column;
}

.hero__title{
    font-weight: 400;
        font-size: 48px;
        line-height: 1.04;
        color: $secondary-txt;

        margin-bottom: 30px;
}

.hero__link{
    font-weight: 400;
    font-size: 22px;
    line-height: 1.45;
    color: $secondary-txt;
    width: 194px;
padding: 12px 0;
text-align: center;
    border: 1px solid $secondary-txt;
}