.inst__span{
    color: $accent-txt;
}

.inst__list{
    display: grid;
        grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
        grid-gap: 40px;
        margin-left: auto;
        margin-right: auto;
}

