.unscroll {
    height: 100%;
    overflow: hidden;
}

.modal-info__container {
    height: 100%;

    
        overflow-y: scroll;
    
}


.overlay {
    position: fixed;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 10;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.2);
        opacity: 1;
        visibility: visible;
        pointer-events: initial;
    // position: fixed;
    // // top: 0;
    // // left: 50%;
    // top: 0px;
    //     left: 0px;
    // // transform: translateX(-50%);
    // // z-index: 100;
    // width: 100%;
    //     height: 100%;
    //     display: flex;
    //     overflow: hidden scroll;
    // background: rgba(0, 0, 0, 0.2);
    // pointer-events: initial;
    // transition: opacity 250ms linear, visibility 250ms linear;

    // opacity: 0;
    //     visibility: hidden;

//     position: fixed;
//         top: 0;
//         bottom: 0;
//         right: 0;
//         left: 0;
//         overflow: hidden;
//         overflow-y: auto;
//         -webkit-overflow-scrolling: touch;
//         display: flex;
//         flex-flow: column nowrap;
// justify-content: flex-start;        /* см. ниже */
//         align-items: center;
//         z-index: 99;
//         /* Чтобы окно не прилипало к границе
//         браузера установим отступы */
//         padding: 30px 0;
}

// .backdrop.is-hidden {
//     opacity: 0;
//     visibility: hidden;
//     pointer-events: none;
// }
.backdrop__is-hidden {
    opacity: 0;
    visibility: hidden;
}

.modal__wrap{
    // flex-shrink: 0;
    //     flex-grow: 0;
    //     width: 100%;
    //     min-height: 100%;
    //     margin: auto;
    //     display: flex;
    //     flex-flow: column nowrap;
    //     align-items: center;
    //     justify-content: center;
    height: 200vh;
        position: relative;
        z-index: 1;
}

.modal{
//     width: 320px;
//     padding: 20px;
//     background-color: $background-main;
// // position: absolute;
//     // top: 50%;
//     // left: 50%;
//     margin-top: 20px;
//     margin-bottom: 100px;

//     // transform: translateX(-50%);

//     flex-shrink: 0;
//         flex-grow: 0;
//     margin: auto;
//     // overflow: visible;
//     max-width: 100%;
//     transition: transform 0.15s ease 0s, opacity 0.15s ease 0s;
//         transform: scale(1);
//         // opacity: 0;
//         display: none;
//         overflow-y: auto;

//         @include mq(desktop){
//             width: 960px;
//             padding: 50px;
//         }

position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
        padding: 60px 20px 20px 20px;

width: 320px;
height: 95%;
        background-color: $background-main;
overflow-y: scroll;
opacity: 0;
z-index: 30;

@include mq(desktop){
    width: 960px;
    padding: 50px;
}
}

.modal-body {
    padding: 24px;
    background-color: $background-main;  
      width: 960px;
    margin: auto;
    max-height: 90%;
    overflow: auto;
    position: relative;
}
.modal.active{
    opacity: 1;
        visibility: visible;
        pointer-events: all;
        position: fixed;

        

    // display: block;
//     position: fixed;
//     top: 2%;
//     left: 50%;
//     transform: translateX(-50%);
//         z-index: 30;
// overflow: auto;
}

.overlay.active{
    opacity: 1;
        visibility: visible;
}

// .modal-bg {
//     width: 100%;
//     height: 100%;
//     background-color: rgba(0, 0, 0, 0.8);
//     display: -webkit-box;
//     display: -ms-flexbox;
//     display: flex;
//     padding: 20px;
// }

.modal__main-info{
    // display: flex;
        // flex-direction: column-reverse;
}

.modal__btn{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 20px;
    right: 20px;
}
.modal__icon{
    max-width: 20px;
}
.modal__wrapper{
    display: flex;
    flex-direction: column;

    @include mq(desktop){
        flex-direction: row;
    }
    
}
.modals__img{
    width: 370px;
}
.modal__wrapper-info{

    @include mq (desktop){
margin-left: 40px;
    width: 450px;
    margin-bottom: 20px;
    }
    
}

.modal__subtitle{
font-weight: 400;
    font-size: 24px;
        line-height: 1.45;

        margin-bottom: 10px;

        @include mq (desktop){
    font-size: 30px;
            line-height: 1.46;
        }
}

.modal__price{
    font-weight: 400;
        font-size: 24px;
        line-height: 1.46;
        color:$accent-txt;
                margin-bottom: 10px;
                @include mq (desktop) {
                        font-size: 30px;
                    }
}

.modal__txt-span{
    font-weight: 700;
        font-size: 20px;
        line-height: 1.45;
        
}

.modal__txt{
    font-weight: 400;
        font-size: 20px;
        line-height:1.45;
        margin-bottom: 10px;

    // &:last-child{
    //     margin-bottom: 0px;
    // }
    // &:nth-child(3){
    //     margin-bottom: 0;
    // }
    //     &:nth-child(6) {
    //         margin-bottom: 0;
    //     }
}
.modal__list-numbers,
.modal__list-dots{
    padding-left: 20px;
    margin-top: 0;
    // margin-bottom: 20px;
}

.modal__item-numbers, 
.modal__item-dots{
        font-weight: 400;
            font-size: 20px;
            line-height: 1.45;
}
.modal__item-dots{
    list-style:disc;
}