.partnership__wrapper {
    display: flex;
    flex-direction: column-reverse;

    @include mq (desktop){
        flex-direction: row;
    }

}
.partnership__form {
    display: flex;
    flex-direction: column;

    @include mq (desktop){
    margin-right: 60px;
    }
}
.partnership__input{
    width: 100%;
padding: 13px 30px;
    margin-bottom: 10px;
    outline: none;
    border: 1px solid $primary-txt;
    background-color: $background-main;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.45;
    @include mq(desktop){
    width: 500px;
    }
    
    // opacity: 0.7;
}

.partnership__input::placeholder{
    font-weight: 400;
        font-size: 20px;
        line-height: 1.45;
        color: rgb(18, 18, 17, 0.7);
}

.partnership__option{
    width: 500px;
    background-color: $background-main;
    opacity: 0.8;
}

.form__btn{
    font-weight: 400;
        font-size: 20px;
        line-height: 1.45;
        border: 1px solid $primary-txt;
width: 100%;
padding-bottom: 13px;
padding-top: 13px;
color: $primary-txt;
        @include mq(desktop){
        padding: 13px 196px;
        }
}

.partnership__subtitle{
    font-weight: 400;
        font-size: 24px;
        line-height: 1.46;
        color: $accent-txt;

        margin-bottom: 10px;
         @include mq(desktop){
                    font-size: 30px;
         }
}

.partnership__txt{
font-weight: 400;
font-size: 20px;
line-height: 1.45;
margin-bottom: 20px;
@include mq(desktop) {
margin-bottom: 30px;    }
}
.contacts__list{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    @include mq (desktop) {
            flex-direction: row;
            margin-bottom: 0;
        }


}
.contacts__item{
    @include mq(notDesktop){
        display: flex;
    }
}
.contacts__item:not(:last-child){
    margin-right: 100px;
}

.contacts__item-txt{
    font-weight: 400;
        font-size: 20px;
        line-height: 1.45;
                color: $accent-txt;

                @include mq(notDesktop) {
                        margin-right: 5px;
                    }

}

.contacts__item-link{
font-weight: 400;
    font-size: 20px;
        line-height: 1.45;
        color: $primary-txt;
    }

.choices{
    width: 100%;
    margin-bottom: 10px;
    @include mq (desktop) {
    width: 500px;        }
        
}

.choices__inner{
    border-width: 1px;
            border: 1px solid rgb(18, 18, 17, 0.7);
                background-color:$background-main;
                padding: 13px 30px;
                font-weight: 400;
                    font-size: 20px;
                    line-height: 1.45;
                    border-radius:0;
}
.choices__list--single{
    padding: 0;
        color: rgb(18, 18, 17, 0.7);
}
.is-open .choices__inner,
.is-focused .choices__inner{
        border-radius: 0;
    border: 1px solid rgb(18, 18, 17, 0.7);
}

.choices[data-type*=select-one] .choices__inner {
    padding-bottom: 13px;
}

.is-open .choices__list--dropdown {
    border-color: #121211;
    // border-top: 0;
    background-color: $background-main;
    border-radius: 0;

}

.choices__list--dropdown{
        border-radius: 0;
}


.choices__list--dropdown .choices__item--selectable {
     padding-right: 30px;
     padding-left: 30px;
     color: rgb(18, 18, 17, 0.7);
}

.choices__list--dropdown .choices__item {
padding-right: 30px;
    padding-left: 30px;
    font-weight: 400;
        font-size: 20px;
        line-height: 1.45;
// &:not(:last-child){
//     // margin-bottom: 26px;
// }
}

.choices[data-type*=select-one]:after{
    height: 10px;
    width: 10px;
    z-index: 3;
    top:40%;
    border: 2px solid rgb(18, 18, 17, 0.7);
    border-width: 0 0 2px 2px;
    transform: rotate(-45deg);
    margin-right: 10px;
    @include mq (desktop){
    margin-right: 20px;
    }
}

.choices[data-type*=select-one].is-open:after {
    top: 60%;
    border: 2px solid rgb(18, 18, 17, 0.7);
    border-width:   2px 2px 0 0 ;
}
.choices__placeholder{
    opacity: 1;
}
.choices__list--dropdown .choices__placeholder{
    display: none;
}

