.products__list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    grid-gap: 40px;
    margin-left: auto;
    margin-right: auto;
}

.products__img{
    margin-bottom: 20px;
}

.item__title{
    font-weight: 400;
        font-size: 20px;
        line-height: 1.45;
height: 58px;
        margin-bottom: 10px;
}

.item__price{
    font-weight: 400;
        font-size: 20px;
        line-height: 1.45;

        color: $accent-txt;
        
        margin-bottom: 10px;
}

.item__btn{
    font-weight: 400;
        font-size: 20px;
        line-height: 1.45;

        padding: 13.5px 78px;
        border: 1px solid $primary-txt;

}