.usage {
    padding-top: 151px;
}

.usage__wrapper{
    display: flex;
}

.usage__txt{
    font-weight: 400;
        font-size: 30px;
        line-height: 1.46;

        margin-right: 60px;
}

.usage__video{
    background-color: #D9D9D9;;
}